# ./api env vars
PORT=4000
MONGODB_STRING
MONGODB_STRING_TEST
JWT_SECRET_KEY="CourseBookingAPI"
ALLOWED_ORIGINS='{"production":[],"development":["http://localhost:8000","http://localhost:5173"],"tests":["http://localhost:8000","http://localhost:5173"]}'
NODE_ENV="development"

# ./client env vars
